<form action="/add" method="post">
  <label for="fname">Name of The Hospital:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="address">Address of the hospital:</label><br>
  <input type="text" id="address" name="address" value="Doe"><br><br>
  <label for="vaccine">Vaccine Status</label><br>
  <input type="text" id="vaccine" name="vaccine" value="John"><br>
  <label for="cost">Cost</label><br>
  <input type="text" id="cost" name="cost" value="Doe"><br><br>
  <label for="crowd">Crowd</label><br>
  <input type="text" id="crowd" name="crowd" value="John"><br>
  <input type="submit" value="Submit">
</form>