<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/16769d5a1f.js" crossorigin="anonymous"></script>
    <title>Login</title>

</head>
<body>

<div><br><h3><i class="fas fa-syringe"></i>getVaxxed</h3></div>
<div class="section">
	<p class="lead">Rolling the vaccine out safely across India</p>
	<div class="divider"></div>
	<div class="section">
		<a href="/auth/google" class="btn blue darken-1">
			<i class="fa fa-google left"></i>Log In With GOOGLE
		</a>
	</div>
</div>

</body>
</html>
       
